*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.header{
    width: 1200px;
    height: 29.04px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 50px auto 30px auto;
}
.header h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 29.26px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
.header__a a{
    color: #161616;
}
.header__a a:hover{
    color: blue;
}
.header__ul{
    width: 472px;
    height: 21px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}
.header__loup{
    width: 75px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}